<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <connectionStrings>
    <add name="DBCON" connectionString="Data Source=db.kotletas.com;Initial Catalog=kotletasdb;User ID=kotletaman;Password=S4traan8ge3ReaktonQ1z4" providerName="System.Data.SqlClient"/>
    <add name="LOCALDBCON" connectionString="Server=localhost\SQLEXPRESS;Database=master;Trusted_Connection=True;User ID=mitnutra;Password=S4traan8ge3ReaktonQ1z4" providerName="System.Data.SqlClient"/>
    <add name="DBCON2" connectionString="Server=db.kotletas.com;Database=kotletasdb;Trusted_Connection=True;User ID=kotletaman;Password=S4traan8ge3ReaktonQ1z4" providerName="System.Data.SqlClient"/>    
  </connectionStrings>

</configuration>
